
.game-grid {
    /*positioning*/
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    /*shaping*/
    gap: 15px;
    width: 400px;
    height: 450px;


}

.row {
    /*positioning*/
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    /*shaping*/
    gap: 15px;
    width: 350px;
    height: 50px;
}

.cell {
    /*positioning*/
    display: flex;
    justify-content: center;
    align-items: center;

    /*shaping*/
    outline: 4px dashed var(--dashed-outline);
    border-radius: 3px;
    width: 50px;
    height: 50px;

    /*coloring*/
    background-color: var(--background);
    color: var(--font);
    font-weight: bolder;
    backdrop-filter: blur(5px);

    /*text*/
    font-size: 40px;
    font-family: 'Monaco', monospace;
}

.inserted {
    outline: 4px solid var(--solid-outline);
}

.correct {
    background-color: var(--correct);
}

.hint {
    background-color: var(--hint);
}

.wrong {
    background-color: var(--wrong);
}