@import url('https://fonts.cdnfonts.com/css/monaco');

:root {
    --background: rgba(253, 253, 253, 0.5);

    --dashed-outline: rgb(156, 156, 156);    
    --solid-outline: rgb(0, 0, 0);

    --correct: rgb(94, 199, 94);
    --wrong: rgb(129, 129, 129);
    --hint: rgb(231, 186, 101);

    --font: black;
}

body {
    /*positioning*/
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    /*shaping*/
    height: 100vh;
    margin: 0;

    background-size: cover;
    background-position: center;
}

.body-container {
    /*positioning*/
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    /*shaping*/
    gap: 15px;
    width: 400px;
    height: 450px;
}

.row {
    /*positioning*/
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    /*shaping*/
    gap: 15px;
    width: 350px;
    height: 50px;
}

.cell {
    /*positioning*/
    display: flex;
    justify-content: center;
    align-items: center;

    /*shaping*/
    outline: 4px dashed var(--dashed-outline);
    border-radius: 3px;
    width: 50px;
    height: 50px;

    /*coloring*/
    background-color: var(--background);
    color: var(--font);
    font-weight: bolder;
    backdrop-filter: blur(5px);

    /*text*/
    font-size: 40px;
    font-family: 'Monaco', monospace;
}

.inserted {
    outline: 4px solid var(--solid-outline);
}

.correct {
    background-color: var(--correct);
}

.hint {
    background-color: var(--hint);
}

.wrong {
    background-color: var(--wrong);
}