@import url('https://fonts.cdnfonts.com/css/monaco');

:root {
  --background: rgb(211, 211, 211);
  --outline: rgb(112, 112, 112);
  --correct: rgb(94, 199, 94);;
  --wrong: rgb(97, 97, 97);
  --hint: rgb(231, 186, 101);
  --font: black;
}

body{
    /*positioning*/
    display: flex;
    flex-direction: column;
    justify-content: center; /*aligns items in the y-axis*/
    align-items: center; /*aligns items in the x-axis*/

    /*shaping*/
    height: 100vh;

    /*coloring*/
    background-color: var(--background);
    margin: 0;
}
.container{
    /*positioning*/
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    /*shaping*/
    gap: 15px;
    width: 400px;
    height: 450px;

    /*coloring*/
    background-color: var(--background);
}

.row{
    /*positioning*/
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    /*shaping*/
    gap: 15px;
    width: 350px;
    height: 50px;

    /*coloring*/
    background-color: var(--background);
}

.cell{
    /*positioning*/
    display: flex;
    justify-content: center;
    align-items: center;

    /*shaping*/
    outline: 2px solid var(--outline);
    border-radius: 3px;
    width: 50px;
    height: 50px;

    /*coloring*/
    background-color: var(--background);
    color: var(--font);

    /*text*/
    font-size: 40px;
    font-family: 'Monaco', monospace;

    /*animation*/
    animation-duration: 0.2s;
    animation-name: hiccup;
}

.correct {
    background-color: var(--correct);
}

.hint {
    background-color: var(--hint);
}

.wrong {
    background-color: var(--wrong);
}

@keyframes spin{
    0%{

    }
    100%{
        transform: rotateY(360deg);
    }
}

@keyframes hiccup{
    0%{
        
    }
    50%{
        scale: 1.05;
    }
    100%{
    }
}
